* {
    box-sizing: border-box;
}

.html,body {
    height: 100%;
}

body {
    margin: 0;

}
.wrapper {
    height: 100vh;
    background: url(img/Фон\ новогодний.jpg) no-repeat center / cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.compliment {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 55%;
    margin-bottom: 20px;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.compliment__text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}
.compliment__title {
    margin-top: 0px;
    
}

.compliment__title-name {
}
.myForm {  
}

input[type='text'] {
    outline: none;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    color: green;
    font-weight: bold;
}

#userName{   
}

input[type='text'] {
    font-weight: 400px;
}

#button{
    width: 150px;
    padding: 4px;
    background-color: #f7ebdb;
    color: black;
}

.form__row {
    margin-bottom: 20px;
}